BasedOnStyle: Google

IndentWidth: 4

DerivePointerAlignment: false
PointerAlignment: Left

QualifierAlignment: Left

IncludeBlocks: Merge
IncludeCategories:
  # Matches common headers first, but sorts them after project includes
  - Regex: '^\"sponge/'     # project includes should sort first
    Priority: -1
  - Regex: '^\"game/' # project internals second
    Priority: 1000
  - Regex: '^\"'         # And then includes from other projects or the system
    Priority: 1500
  - Regex: '^<.*/.*'
    Priority: 2000
  - Regex: '^<.*.hpp>'
    Priority: 3000
  - Regex: '^<[^/]*>'
    Priority: 4000

AlignConsecutiveMacros: Consecutive

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

Cpp11BracedListStyle: false

---
Language: Cpp
# No length limit, in case it breaks macros, you can
# disable it with /* clang-format off/on */ comments
ColumnLimit: 120
Standard: c++17

ReflowComments: true

UseCRLF: false
UseTab: Never
