BasedOnStyle: Google

IndentWidth: 4

AlignConsecutiveMacros: Consecutive

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

Cpp11BracedListStyle: false

---
Language: Cpp
# No length limit, in case it breaks macros, you can
# disable it with /* clang-format off/on */ comments
ColumnLimit: 120
Standard: c++17

ReflowComments: true

UseCRLF: false
UseTab: Never
