---
BasedOnStyle: Google

IndentWidth: 4

DerivePointerAlignment: false

QualifierAlignment: Left

IncludeCategories:
  - Regex: ^\"
    Priority: 1500
  - Regex: ^<.*/.*
    Priority: 2000
  - Regex: ^<.*\.h(pp)?>
    Priority: 3000
  - Regex: ^<.*
    Priority: 4000

AccessModifierOffset: -4
AlignConsecutiveMacros: true

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BreakConstructorInitializers: AfterColon
Cpp11BracedListStyle: false
TabWidth: 4
UseTab: Never
