site_name: Maze
site_description: 'A nice walk through a maze'
site_author: 'Tom Conder <tom@itstom.co>'
site_url: 'http://github.com/tomconder/maze'

repo_name: 'maze'
repo_url: 'http://github.com/tomconder/maze'
edit_uri: 'tree/main/docs/'
remote_branch: gh-pages

docs_dir: 'docs'

nav:
    - 'Overview': index.md

theme:
    name: material
    features:
        - content.code.annotation
        - content.code.copy
        - content.tabs.link
        - navigation.expand
        - navigation.footer
        - navigation.indexes
        - navigation.path
        - navigation.top
        - search.highlight
        - search.suggest
        - toc.follow
    language: en
    favicon: static/icon/maze.ico
    logo: static/icon/maze.png
    palette:
        - media: '(prefers-color-scheme: light)'
          scheme: default
          primary: white
          accent: black
          toggle:
              icon: material/weather-night
              name: Switch to dark mode
        - media: '(prefers-color-scheme: dark)'
          scheme: slate
          primary: black
          accent: lime
          toggle:
              icon: material/weather-sunny
              name: Switch to light mode
    font:
        text: Roboto
        code: Roboto Mono

extra_css:
    - stylesheets/extra.css

plugins:
    - search
    - social

extra:
    social:
        - icon: fontawesome/brands/github
          link: https://github.com/tomconder/maze
        - icon: fontawesome/brands/linkedin
          link: https://linkedin.com/in/tomconder
        - icon: fontawesome/brands/x-twitter
          link: https://x.com/tomconder

# Extensions
markdown_extensions:
    - pymdownx.highlight:
          anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets:
    - pymdownx.superfences:
    - pymdownx.tabbed:
          alternate_style: true
    - pymdownx.tasklist:
          custom_checkbox: true
    - pymdownx.tilde
    - toc:
          permalink: true

copyright: |
    &copy; 2026 Tom Conder
