name: 'pull request labeler'

on:
  pull_request_target:
    types: [opened, synchronize]

permissions:
  contents: read

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - id: label-pr
        uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
