name: 'pull request labeler'

on:
    pull_request_target:
        types: [opened, synchronize]

permissions:
    contents: read

jobs:
    labeler:
        permissions:
            contents: read
            pull-requests: write

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            - id: label-pr
              uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
